<h1>Sessions#new</h1>
<%= form_for :session, url: create_session_url, method: :post do |f| %>
  <label> Email
    <input type="email" name="email" />
  </label>

  <label> Password
    <input type="password" name="password" />
  </label>

  <input type="submit" value="Sign In"/>
<% end %>
